/desafios/R001/R001/nbproject/private/
/desafios/R001/R001/build/
/semana-2/B005-suma-cifras/nbproject/private/
/semana-2/OOP001A-cuentas-bancarias-capitulo-1/nbproject/private/
/semana-2/OOP001B-cuentas-bancarias-capitulo-2/nbproject/private/
/semana-2/OOP007-tarjeta-baja/nbproject/private/
/desafios/R002-inversiones-mensuales/nbproject/private/
/semana-2/B005-suma-cifras/build/
/semana-2/OOP001A-cuentas-bancarias-capitulo-1/build/
/semana-2/OOP001B-cuentas-bancarias-capitulo-2/build/
/semana-2/OOP007-tarjeta-baja/build/
/semana-3/B006-sala-de-cine/nbproject/private/
/semana-3/OOP001C-cuentas-bancarias-capitulo-3/nbproject/private/
/semana-3/OOP002A-era-de-imperios-capitulo-1/nbproject/private/
/semana-3/OOP002B-era-de-imperios-capitulo-2/nbproject/private/
/semana-3/B006-sala-de-cine/build/
/semana-3/OOP001C-cuentas-bancarias-capitulo-3/build/